* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Futura PT Demi';
  src: url('FuturaCyrillicDemi.woff') format('woff');
}

article strong ,
h1,
h3 {
  color: #B95F89;
}

footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: auto;

}

p {
  color: #5f5f5f;

  font-weight: 400;
}

span {
  float: right;
}

#artists {
  margin: 0 5%;
}

#description {
  background-color: #f5f5f5;

  margin-top: 150px;
}

#search {
  background-color: #fff;
  margin-bottom: 5%;
}

#search h1, #add-artist h1  {
  text-align: center;

  margin-top: 3%;
  margin-bottom: 3%;
}

.add-artist{
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
  padding-top: 10px;
}

.add-button{
  width: 130px;
  border-color: #FAC72D !important;
  color: #FAC72D !important;
}

.album-style
{
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto 15px auto;
  padding: 10px;
}

.autocomplete-suggestions {
  position: absolute;

  width: 41.8%;
  
  background-color: #fff;

  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;

  padding: 0;
  margin: 0;

  z-index: 1000;
}

.autocomplete-suggestion {
  cursor: pointer;
  
  padding: 10px;

  transition: background-color 0.3s;
}

.autocomplete-suggestion:hover {
  background-color: #f0f0f0;
}

.burger-button{
  color: #B95F89;
}

.button-section{
  margin: 0px 9px 15px 9px;
}

.card {
  margin-bottom: 15px;
  height: fit-content;
}

.card h3 {
  text-align: center;

  margin: 20px 0;
}
.delete-label{
  width: 100%;
}

.edit-button{  
  margin: 15px 12px 0px 0px !important;
}

.fw-bold {
  font-weight: bold;
  color: #FAC72D;
}

.card button {
  position: absolute;
  right: 0;
  top: 5px;
}

.card button:hover , .trash-button:hover{
  border-color: #FAC72D;
}

.description-article {
  text-align: center;
  height: 500px;
}

.description-article h1 {
  margin-top: 10%;
  margin-bottom: 8%;
  padding-left: 7%;

  font-size: 60px;
}

.description-article p {
  padding-left: 7%;
}

.footer-link {
  color: #B95F89;
  margin: 10px 20px;
  text-decoration: none;
  font-size: 25px;
}

.footer-link:hover .footer-icon {
  color: #C4E0F9;
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2);
}

.logo {
  height: 150px;
  width: 150px;

  margin-left: 25%;
}

.navbar {
  background-color: #f5f5f5;

  height: 150px;
  width: 100%;
}

.navbar-nav {
  margin-left: 45px;
}

.nav-link {
  color: #B95F89;

  font-weight: 500;
  font-size: 25px;

  margin-right: 35px;
}

.nav-link:hover {
  color: #fff;
  background-color: #FAC72D;

  border-radius: 10%;
}

.rotate-icon i {
  transform: rotate(90deg);
}

.search-bar {
  width: 45%;

  margin: auto;
}

.triangle-article {
  /* Define a variable for the corner radius */
  --r: 40px;

  /* Set the width of the triangle */
  width: 400px;

  /* Maintain a 1:1 aspect ratio for the triangle shape */
  aspect-ratio: 1 / cos(30deg);
  --_g: calc(tan(60deg)*var(--r)) top var(--r), #000 98%, #0000 100%;

  mask:
    conic-gradient(from 150deg at 50% calc(3*var(--r)/2 - 100%), #000 60deg, #0000 0) 0 0/100% calc(100% - 3*var(--r)/2) no-repeat,
    radial-gradient(var(--r) at 50% calc(100% - 2*var(--r)), #000 98%, #0000 101%),
    radial-gradient(var(--r) at left var(--_g)),
    radial-gradient(var(--r) at right var(--_g));
  clip-path: polygon(50% 100%, 100% 0, 0 0);
  margin-left: 15%;
  margin-top: 5%;
}


